<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCf_piTypwpjELE2kcd2kSO6CRNe37smpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>120124508276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperenkavuk.WhatsAppCloneSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>whatsappcloneswiftui-fcc40</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappcloneswiftui-fcc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120124508276:ios:49ed5c7fc426bfbd436921</string>
</dict>
</plist>